<div class="navbar navbar-default navbar-default-top navbar-fixed-top">
    
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
              <a href="/"><img class="logo-link-top" src="~/Content/images/dls-logo.png" /></a>            
            @Html.ActionLink("DLS Technologies", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-logo" })
        </div>
        <div class="navbar-collapse navbar-collapse-1 collapse">
            <ul class="nav navbar-nav">
                             
            </ul>
            
            @Html.Partial("_LoginPartial")

            <ul class="nav navbar-nav navbar-right custSearchBoxDiv">
                <li id="custSearchBoxShow"><input id="custSearchBox" class="search-box" type="text" placeholder="Search..."/></li>
            </ul>
</div>
    </div>
</div>

