.body {
    margin-top: 100px;
    margin-left: 0px;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width:280px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff!important;
    resize: none !important;
}




hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border: 1px solid rgba(207, 207, 207, 0.79) !important;
}

.btn:focus {
    outline:none !important;
}

.fa .fa-bug {
    color:white;
}

.modal-content {
    margin-top:120px;
}

/*---------------------------------*/
/* Page Containers */
/*---------------------------------*/

.content {
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    min-height: 100vh !important;


}
.footer {
    left: 0;
    bottom: 0;
    height:30px !important;
    width: 100%;
    text-align: center;
    margin-bottom:30px;
}


/*----------------------------------------------------*/
/* Page Elements */
/*----------------------------------------------------*/

/*---------------------------------*/
/* NavBar Elements */
/*---------------------------------*/



.navbar-default-top {
    z-index: 1000000;
}

#custSearchBox {
    background-color: #2C3E50;
    border: hidden;
    border-bottom: .5px solid #15a689;
    height: 30px;
    color: white;
    padding: 10px;
}

    #custSearchBox:focus, #custSearchBox:active, #custSearchBox:hover {
        outline: none;
        background-color: #2C3E50 !important;
    }

.custSearchBoxDiv {
    margin-top: 15px;
    padding-right: 50px;
    margin-left: 1px;
}

#custSearchBoxSide {
    background-color: #18BC9C;
    width:60%;
    border: hidden;
    border-bottom: .3px #15a689 solid !important;
    height: 50px;
    color: #fff;
}
    #custSearchBoxSide:focus {
        outline: none;
    }

input.search-box::-webkit-input-placeholder {
    color: white !important;
}




.logo-link-top {
    width: 168px;
    height: 70px;
    margin: 20px 10px 10px 15px;
    display: none;
}
.logo-link-side {
    width: 168px;
    height: 70px;
    margin: 30px 10px 10px 15px;
}

/*---------------------------------*/
/* ExpenseForm Elements */
/*---------------------------------*/

#add-form-input-group {
    width: 250px !important;
}


/*---------------------------------*/
/* CustomerForm Elements */
/*---------------------------------*/



.new-cust-note {
    max-width: 100%;
}
.new-cust-note-view {
    max-width: 100%;
    padding:10px;
    margin-left:10px;
}


/*---------------------------------*/
/* CustomerDetails Elements */
/*---------------------------------*/


.notes-btn {
    line-height: 0 !important;
}
#show-new-note-btn {
    text-align: right !important;
}


/*---------------------------------*/
/* SiteInfo Elements */
/*---------------------------------*/

.siteinfo-tab-notes {
    max-width: 100%;
    padding: 10px;
    outline:none !important;
    height: 170px !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #18BC9C !important;
}

.nav-tabs > li > a {
    color: #2C3E50 !important;
}

.siteinfo-btns {
    text-align: right !important;
    margin-top: -20px;
}



.siteinfo-delete-note-btn {
    float: left;
}
#delete-note-btn:hover {
    color:#b94a48;
}           

.siteinfo-note-btns {
    text-align: right !important;
}

.siteinfo-notes {
    max-width: 100%;
    padding: 10px;
    outline: none !important;
    height: 120px !important;
}

.siteinfo-table-col {
    margin-left:100px;
}


/*---------------------------------*/
/* jQuery DataTables */
/*---------------------------------*/
table .dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    display: none;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    display: inline-block;
    float: right;
}
div.dt-buttons {
}
div.dataTables_length {
    display: inline-block;
}
#expensesTable_length {
    margin-left:100px;
}
.dt-buttons > .btn {
    background-color: #18BC9C;
    color:#fff;
    margin-bottom: 10px;
}
    .dt-buttons  :hover {
        color: #2C3E50;
    }

.pagination > li > .disabled > a {
    background-color: #18BC9C !important;
    background-color: grey !important;
    cursor: default !important;
}
    .pagination > li.disabled > a :focus, .disabled > a :active {
        background-color: #2C3E50 !important;
    }

.pagination > li > a, .pagination > li > span {
    background-color: #2C3E50 !important;
}
    .pagination > li > a:focus, .pagination > li > span:focus {
        outline: none;
        background-color: #18BC9C !important;
    }

/*---------------------------------*/
/* Validation Helpers */
/*---------------------------------*/
.validation-failed {
    color: red;
    margin-bottom: 10px;
}

.field-validation-error, .validation-summary-errors {
    color: #b94a48 !important;
    color: red !important;
}

.field-validation-valid, .validation-summary-valid, input[type="checkbox"].input-validation-error {
    display: none !important;
}

input.input-validation-error, textarea.input-validation-error, select.input-validation-error {
    border: 1px solid #b94a48 !important;
    border: 1px solid red !important;
}
.note-validation-failed {
    color: red !important;
    padding: 10px;

}



/*---------------------------------------------------*/
/*------------------ Media Queries ------------------*/
/*---------------------------------------------------*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .body {
        margin-top:200px;
    }

    #custSearchBoxSide {
        background-color: #18BC9C;
        border: hidden;
        border-bottom: .3px #15a689 solid !important;
        height: 60px;
        color: #fff;
        padding: 10px;
        font-size: 20px;
    }

    #custSearchBoxShow {
        display: none;
    }

    .logo-link-side {
        width: 168px;
        height: 70px;
        margin: 20px 10px 10px 15px;
        display: none;
    }

    .logo-link-top {
        width: 168px;
        height: 70px;
        margin: 20px 10px 10px 15px;
        display: block;
    }

    .navbar-logo {
        display: none;
    }

    nav.sidebar.navbar {
        border-radius: 0px;
        margin-top: 100px;
    }

    .remember-me-btn {
        margin-left: 25px;
        margin-bottom: 10px;
    }

    /*---------------------------------*/
    /* SiteInfo Elements */
    /*---------------------------------*/

    .siteinfo-tab-notes {
        max-width: 100%;
        padding: 10px;
        margin-left: 10px;
        border: none !important;
        outline: none !important;
        height: 170px !important;
    }

    .siteinfo-table-col {
        margin-left: 0px;
    }
}



/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1124px) {

    .body {
        margin-top: 120px;
        height: 100%;
    }  
    
    .container {
        margin-left:40px;
    }


    .navbar-collapse.navbar-collapse-1.collapse {
        width: 90%;
    }

    .remember-me-btn {
        margin-left: 25px;
        margin-bottom: 10px;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1124px) and (max-device-width: 1320px) {
    .body {
        margin-top: 50px;
        height: 100%;
    }

    .container {
        margin-left:0px;
    }

    .logo-link-top {
        width: 168px;
        height: 70px;
        margin: 20px 10px 10px 15px;
        display: none;
    }

    .remember-me-btn {
        margin-left: 150px;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width : 1330px) {
    .container {
        margin-left: 220px;
    }

    .body {
        margin-top: 80px;
    }

    
}

@media only screen and (min-width : 1550px) {
    .container {
        margin-left: 300px;
    }

    .body {
        margin-top: 100px;
    }

    
}







