body {
    padding-top: 70px;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width:280px;
}

hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border: 0;
    
    
    
    : 1px solid rgba(207, 207, 207, 0.79) !important;
}



/*---------------------------------*/
/* Page Containers */
/*---------------------------------*/

.content {
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    min-height: 100vh !important;


}
.footer {
    left: 0;
    bottom: 0;
    height:30px !important;
    width: 100%;
    text-align: center;
    margin-bottom:30px;
}


/*---------------------------------*/
/* Page Elements */
/*---------------------------------*/



.dropdown-menu .divider {
    background-color: #15a689 !important;
}

#add-form-input-group {
    width: 250px !important;
}

#custSearchBox {
    background-color: #2C3E50;
    border: hidden;
    border-bottom: .5px solid #15a689;
    height: 30px;
    color: white;
    padding: 10px;
}

    #custSearchBox:focus {        
        outline: none;
    }
.custSearchBoxDiv {
    margin-top: 15px;
    padding-right: 50px;
    margin-left: 1px;
}

#custSearchBoxSide {
    background-color: #18BC9C;
    border: hidden;
    border-bottom: .3px #15a689 solid !important;
    height: 50px;
    color: #fff;
    padding: 10px;
}
    #custSearchBoxSide:focus {
        outline: none;
    }

custSearchBoxSide::-webkit-input-placeholder {
    color: #2C3E50 !important;
}

input::-webkit-input-placeholder {
    color: white !important;
}
    
/*---------------------------------*/
/* Top Nav */
/*---------------------------------*/
.navbar-default {
    z-index: 1000000;
}

/*---------------------------------*/
/* Side Nav */
/*---------------------------------*/

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #fff;
}


nav.sidebar .navbar-nav > li {
    border-bottom: .3px #15a689 solid !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #2C3E50;    
}

.navbar-inverse .navbar-nav > li > a :hover {
    color:#fff !important;
}

.navbar-inverse .navbar-nav > li :hover {
    color:#fff !important;
}


/*---------------------------------*/
/* jQuery DataTables */
/*---------------------------------*/
table .dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
display: none;
}

div.dt-buttons {
   margin-bottom: 10px;
}

div.dataTables_length {
    margin-left: 40px;
}



/*---------------------------------*/
/* styles for validation helpers */
/*---------------------------------*/

.validation-failed {
    color: red;
    margin-bottom: 10px;
}

.field-validation-error {
    color: #b94a48 !important;
    color: red !important;
}

.field-validation-valid {
    display: none !important;
}

input.input-validation-error {
    border: 1px solid #b94a48 !important;
    border: 1px solid red !important;
}


select.input-validation-error {
    border: 1px solid #b94a48 !important;
    border: 1px solid red !important;
}

input[type="checkbox"].input-validation-error {
    border: 0 none !important;
}

.validation-summary-errors {
    color: #b94a48 !important;
    color: red !important;
}

.validation-summary-valid {
    display: none !important;
}


/*---------------------------------------------------*/
/*------------------ Media Queries ------------------*/
/*---------------------------------------------------*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    body {
        padding-top: 120px;
        padding-bottom: 20px;
        height: 100%;
    }
    #custSearchBoxSide {
        background-color: #18BC9C;
        border: hidden;
        border-bottom: .3px #15a689 solid !important;
        height: 60px;
        color: #fff;
        padding: 10px;
        font-size: 20px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
    body {
        padding-top: 70px;
        padding-bottom: 20px;
        padding-left: 40px;
        height: 100%;
    }    
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1124px) {
    body {
        padding-top: 70px;
        padding-bottom: 20px;
        padding-left: 0px;
        height: 100%;
    }
}













    


