@model DLS_Technologies.ViewModels.CustomerViewModels.CustomerViewModel

<div class="row">
    <div class="form-group col-sm-8">
        @Html.LabelFor(m => m.Note)
        <br />
        <div id="cust-note-view" class="new-cust-note-view">
            @Html.ValueFor(m => m.Note)
        </div>
        <div id="cust-note-edit" hidden="hidden">
            @Html.TextAreaFor(m => m.Note, new { @class = "form-control new-cust-note", @placeholder = "Initial Notes" })
        </div>
        <br />
        <div style="text-align:right;">
            <button id="edit-notes-btn" class="btn btn-link">Edit</button>
            <button id="save-notes-btn" class="btn btn-link" data-customer-id="@Model.Id">Save</button>
        </div>
    </div>
    <div class="col-sm-offset-4"></div>
</div>

<script>
    

    

    $("#edit-notes-btn").on("click", function (e) {
        console.log("yhi")
        e.preventDefault();
        $("#cust-note-view").hide();
        $("#cust-note-edit").fadeIn();
        $(this).fadeOut;
        $("#save-notes-btn").fadeIn();
    });

    $("#save-notes-btn").on("click", function (e) {
        e.preventDefault();
        $("#cust-note-edit").hide();
        $("#cust-note-view").fadeIn();
        $(this).fadeOut;
        $("#edit-notes-btn").fadeIn();

        $.ajax({
            method: "PUT",
            url: "/Api/Customers/UpdateCustomerNote/",
            data: {
                id: $("#save-notes-btn").attr("data-customer-id"),
                note: $("#Note").val()
            },
            success: function () {
                loadCustNotes();
            }
        })
    });
    

</script>


