@model DLS_Technologies.ViewModels.CustomerViewModels.CustomerViewModel

<div class="row">
    <div class="form-group col-sm-8">
        @Html.LabelFor(m => m.Note)
        <br />        
        <div id="cust-note-edit">
            @Html.TextAreaFor(m => m.Note, new { @class = "form-control new-cust-note", @placeholder = "Click Edit to add a note...", @readonly = true })
        </div>
        <br />
        <div class="siteinfo-btns">
            <button id="edit-notes-btn" class="btn btn-link">Edit</button>
            <button id="save-notes-btn" class="btn btn-link" data-customer-id="@Model.Id">Save</button>
        </div>
    </div>
    <div class="col-sm-offset-4"></div>
</div>

@Scripts.Render("~/scripts/formscripts/customers/customer-notes.js")


