@model DLS_Technologies.ViewModels.CustomerViewModels.SiteInfoViewModel
@Html.HiddenFor(m => m.NoteId)

@{ 
    if (!Model.Notes.Any())
    {
        <p>No notes have been added.</p>
    }
    else
    {
        <table id="siteinfo-notes-table" class="table table-bordered table-hover">
            <tbody>
                @{
                    foreach (var item in Model.Notes)
                    {
                        <tr>
                            <td data-note-id="@item.Id">@item.Title</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
                    }
}


@Scripts.Render("~/scripts/formscripts/customers/siteinfo-notes-table.js")