@model DLS_Technologies.ViewModels.MileageFormViewModel


<div id="target" class="form-group">
    <label class="radio-inline"><input id="odometerRadBtn" data-radioBtn-id="1" checked="checked" type="radio" class="js-mileage-radiobtn" name="optradio" value="odometer">Odometer</label>
    <label class="radio-inline"><input id="googleMapsRadBtn" data-radioBtn-id="2" type="radio" class="js-mileage-radiobtn" name="optradio" value="googleMaps">Google Maps</label>    
</div>

<div id="PartialFormatDiv">
</div>

@Scripts.Render("~/scripts/formscripts/expenses/mileage-form.js")
